/********************** TypeList.jsのcss **************************/
details {
    margin: 10px 0;
}

summary {
    font-size: 20px;
    background-color: #343a40;
    padding: 5px 10px;
    color: #FFF;
}

.type-contents {
    margin: 50px 0;
}


/********************** ResultChart.jsのcss **************************/
.recharts-wrapper {
    margin: 20px auto;
}

